html{
    background-color: rgb(173, 241, 179);
    font-size: 100%;
    
}
#nav-bar{
    display: flex;

}
#header-div-stationary{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(64, 216, 145);
    width: 100%;

}

#header-img{
    width: 2rem;
    height: auto;
    padding: 1rem 1rem 1rem 1rem;
}



#nav-link{
    font-family: 'Fredoka', sans-serif;

}

.general-div{
    display: block;
    width: 50%;
    margin: auto;
    
}

#About-para{
    text-align: center;
    font-family: 'Fredoka', sans-serif;
    font-size: 2rem;
}

#form{
    width: 50%;
    margin: auto;
}

#video{
    text-align: center;
    
}

#contact{
    text-align: center;
    font-size: 3rem;
}

.video-div{
    height: fit-content;
    width: fit-content;
}

#form{
    width: 50%;
    margin: auto;
}

#email{
    width: 20rem;
    margin: auto;
}

#submit{

}