@media screen and (max-width: 600px) {
    body{
        background-color: rgb(90, 169, 235);

    }
    
    
}

html{
    background-color: rgb(173, 241, 179);
    font-size: 100%;
    
}
#header{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(64, 216, 145);
    width: 100%;
    align-items: center;
    justify-content: space-around;
    height: max-content;
    z-index: 0;

}



#header-img{
    width: 2rem;
    height: auto;
    padding: 1rem 1rem 1rem 1rem;
}



.nav-link{
    text-align: center;
    font-family: 'Fredoka', sans-serif;
    font-size: 1rem;
    text-decoration: none;
    margin-left: 2%;
    margin-right: 2%;
    width: 100%;
    color: rgb(23, 56, 45);
    

}

.nav-link:hover{
    color: bisque;
    cursor: pointer;
    
}
#nav-bar{
    display: flex;

}
#header-div-stationary{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(64, 216, 145);
    width: 100%;

}


.general-div{

    padding-top: 10rem;
    width: 50%;
    margin: auto;
    
}

#About-para{
    text-align: center;
    font-family: 'Fredoka', sans-serif;
    font-size: 2rem;
}

#form{
    width: 50%;
    margin: auto;
}

#video{
    text-align: center;
    
}

#contact{
    text-align: center;
    font-size: 3rem;
}

.video-div{
    height: fit-content;
    width: fit-content;
}

#form{
    width: 50%;
    margin: auto;
}

#email{
    width: 20rem;
    margin: auto;
}

#logo-div{
    width: 30rem;
    justify-content: center;
    align-items: center;
}

